PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster0.pkfd1he.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=supersecretaccesskey
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=supersecretrefreshkey
REFRESH_TOKEN_EXPIRY=10d
